AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-1
AWS_VPC_DEFAULT_SG_ID=
AWS_SUBNET_ID_1=
AWS_SUBNET_ID_2=
AWS_SUBNET_ID_3=
API_PORT=3001
LAMBDA_INVOKE_URL=http://localhost:3002/
DATA_AGGREGATOR_LAMBDA_NAME=hathor-explorer-service-dev-node_data_aggregator_handler
HATHOR_CORE_DOMAIN=node1.foxtrot.testnet.hathor.network 
HATHOR_NODES=node1.foxtrot.testnet.hathor.network
REDIS_KEY_PREFIX=hathor-explorer-service-dev
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
S3_ENDPOINT=http://localhost:4569/
METADATA_BUCKET=metadata-testnet
CORS_ALLOWED_ORIGIN=""
NODE_CACHE_TTL=30
