# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
coverage.xml
.coverage

.mypy_cache
.pytest_cache

terraform/.terraform*

.vscode
